$spacer: 2rem;
$family-sans-serif: 'Heebo', sans-serif;
$family-serif: 'Roboto Slab', serif;
$family-mono: 'Roboto Mono', monospace;
$content-heading-color: rgba(255, 255, 255, 100);
$content-heading-weight: 500;
$white: white;
$primary: rgb(254, 121, 38);
$primary-light: rgb(253, 146, 80);
$primary-dark: rgb(225, 88, 2);
$secondary: rgb(38, 67, 254);
$secondary-light: rgb(84, 107, 251);
$secondary-dark: rgb(18, 41, 185);
$alert: red;
$red: #e91e63;
$purple: rgb(60, 10, 169);

$materialize-red: (
  base:       #e91e63,
  lighten-5:  #fce4ec,
  lighten-4:  #f8bbd0,
  lighten-3:  #f48fb1,
  lighten-2:  #f06292,
  lighten-1:  #ec407a,
  darken-1:   #d81b60,
  darken-2:   #c2185b,
  darken-3:   #ad1457,
  darken-4:   #880e4f,
  accent-1:    #ff80ab,
  accent-2:    #ff4081,
  accent-3:    #f50057,
  accent-4:    #c51162
);

$pink: (
  base:       #e91e63,
  lighten-5:  #fce4ec,
  lighten-4:  #f8bbd0,
  lighten-3:  #f48fb1,
  lighten-2:  #f06292,
  lighten-1:  #ec407a,
  darken-1:   #d81b60,
  darken-2:   #c2185b,
  darken-3:   #ad1457,
  darken-4:   #880e4f,
  accent-1:    #ff80ab,
  accent-2:    #ff4081,
  accent-3:    #f50057,
  accent-4:    #c51162
);

$deep-purple: (
  base:       #673ab7,
  lighten-5:  #ede7f6,
  lighten-4:  #d1c4e9,
  lighten-3:  #b39ddb,
  lighten-2:  #9575cd,
  lighten-1:  #7e57c2,
  darken-1:   #5e35b1,
  darken-2:   #512da8,
  darken-3:   #4527a0,
  darken-4:   #311b92,
  accent-1:    #b388ff,
  accent-2:    #7c4dff,
  accent-3:    #651fff,
  accent-4:    #6200ea
);

$indigo: (
  base:       #3f51b5,
  lighten-5:  #e8eaf6,
  lighten-4:  #c5cae9,
  lighten-3:  #9fa8da,
  lighten-2:  #7986cb,
  lighten-1:  #5c6bc0,
  darken-1:   #3949ab,
  darken-2:   #303f9f,
  darken-3:   #283593,
  darken-4:   #1a237e,
  accent-1:    #8c9eff,
  accent-2:    #536dfe,
  accent-3:    #3d5afe,
  accent-4:    #304ffe
);

$blue: (
  base:       #2196f3,
  lighten-5:  #e3f2fd,
  lighten-4:  #bbdefb,
  lighten-3:  #90caf9,
  lighten-2:  #64b5f6,
  lighten-1:  #42a5f5,
  darken-1:   #1e88e5,
  darken-2:   #1976d2,
  darken-3:   #1565c0,
  darken-4:   #0d47a1,
  accent-1:    #82b1ff,
  accent-2:    #448aff,
  accent-3:    #2979ff,
  accent-4:    #2962ff
);

$light-blue: (
  base:       #03a9f4,
  lighten-5:  #e1f5fe,
  lighten-4:  #b3e5fc,
  lighten-3:  #81d4fa,
  lighten-2:  #4fc3f7,
  lighten-1:  #29b6f6,
  darken-1:   #039be5,
  darken-2:   #0288d1,
  darken-3:   #0277bd,
  darken-4:   #01579b,
  accent-1:    #80d8ff,
  accent-2:    #40c4ff,
  accent-3:    #00b0ff,
  accent-4:    #0091ea
);

$cyan: (
  base:       #00bcd4,
  lighten-5:  #e0f7fa,
  lighten-4:  #b2ebf2,
  lighten-3:  #80deea,
  lighten-2:  #4dd0e1,
  lighten-1:  #26c6da,
  darken-1:   #00acc1,
  darken-2:   #0097a7,
  darken-3:   #00838f,
  darken-4:   #006064,
  accent-1:    #84ffff,
  accent-2:    #18ffff,
  accent-3:    #00e5ff,
  accent-4:    #00b8d4
);

$teal: (
  base:       #009688,
  lighten-5:  #e0f2f1,
  lighten-4:  #b2dfdb,
  lighten-3:  #80cbc4,
  lighten-2:  #4db6ac,
  lighten-1:  #26a69a,
  darken-1:   #00897b,
  darken-2:   #00796b,
  darken-3:   #00695c,
  darken-4:   #004d40,
  accent-1:    #a7ffeb,
  accent-2:    #64ffda,
  accent-3:    #1de9b6,
  accent-4:    #00bfa5
);

$green: (
  base:       #4caf50,
  lighten-5:  #e8f5e9,
  lighten-4:  #c8e6c9,
  lighten-3:  #a5d6a7,
  lighten-2:  #81c784,
  lighten-1:  #66bb6a,
  darken-1:   #43a047,
  darken-2:   #388e3c,
  darken-3:   #2e7d32,
  darken-4:   #1b5e20,
  accent-1:    #b9f6ca,
  accent-2:    #69f0ea,
  accent-3:    #00e676,
  accent-4:    #00c853
);

$light-green: (
  base:       #8bc34a,
  lighten-5:  #f1f8e9,
  lighten-4:  #dcedc8,
  lighten-3:  #c5e1a5,
  lighten-2:  #aed581,
  lighten-1:  #9ccc65,
  darken-1:   #7cb342,
  darken-2:   #689f38,
  darken-3:   #558b2f,
  darken-4:   #33691e,
  accent-1:    #ccff90,
  accent-2:    #b2ff59,
  accent-3:    #76ff03,
  accent-4:    #64dd17
);

$lime: (
  base:       #cddc39,
  lighten-5:  #f9fbe7,
  lighten-4:  #f0f4c3,
  lighten-3:  #e6ee9c,
  lighten-2:  #dce775,
  lighten-1:  #d4e157,
  darken-1:   #c0ca33,
  darken-2:   #afb42b,
  darken-3:   #9e9d24,
  darken-4:   #827717,
  accent-1:    #f4ff81,
  accent-2:    #eeff41,
  accent-3:    #c6ff00,
  accent-4:    #aeea00
);

$yellow: (
  base:       #ffeb3b,
  lighten-5:  #fffde7,
  lighten-4:  #fff9c4,
  lighten-3:  #fff59d,
  lighten-2:  #fff176,
  lighten-1:  #ffee58,
  darken-1:   #fdd835,
  darken-2:   #fbc02d,
  darken-3:   #f9a825,
  darken-4:   #f57f17,
  accent-1:    #ffff8d,
  accent-2:    #ff0,
  accent-3:    #ffea00,
  accent-4:    #ffd600
);

$amber: (
  base:       #ffc107,
  lighten-5:  #fff8e1,
  lighten-4:  #ffecb3,
  lighten-3:  #ffe082,
  lighten-2:  #ffd54f,
  lighten-1:  #ffca28,
  darken-1:   #ffb300,
  darken-2:   #ffa000,
  darken-3:   #ff8f00,
  darken-4:   #ff6f00,
  accent-1:    #ffe57f,
  accent-2:    #ffd740,
  accent-3:    #ffc400,
  accent-4:    #ffab00
);

$orange: $primary;

$deep-orange: (
  base:       #ff5722,
  lighten-5:  #fbe9e7,
  lighten-4:  #ffccbc,
  lighten-3:  #ffab91,
  lighten-2:  #ff8a65,
  lighten-1:  #ff7043,
  darken-1:   #f4511e,
  darken-2:   #e64a19,
  darken-3:   #d84315,
  darken-4:   #bf360c,
  accent-1:    #ff9e80,
  accent-2:    #ff6e40,
  accent-3:    #ff3d00,
  accent-4:    #dd2c00
);

$brown: (
  base:       #795548,
  lighten-5:  #efebe9,
  lighten-4:  #d7ccc8,
  lighten-3:  #bcaaa4,
  lighten-2:  #a1887f,
  lighten-1:  #8d6e63,
  darken-1:   #6d4c41,
  darken-2:   #5d4037,
  darken-3:   #4e342e,
  darken-4:   #3e2723
);

$blue-grey: (
  base:       #607d8b,
  lighten-5:  #eceff1,
  lighten-4:  #cfd8dc,
  lighten-3:  #b0bec5,
  lighten-2:  #90a4ae,
  lighten-1:  #78909c,
  darken-1:   #546e7a,
  darken-2:   #455a64,
  darken-3:   #37474f,
  darken-4:   #263238
);

$grey: (
  base:       #9e9e9e,
  lighten-5:  #fafafa,
  lighten-4:  #f5f5f5,
  lighten-3:  #eee,
  lighten-2:  #e0e0e0,
  lighten-1:  #bdbdbd,
  darken-1:   #757575,
  darken-2:   #616161,
  darken-3:   #424242,
  darken-4:   #212121
);

$shades: (
  black:        #000,
  white:        #fff,
  transparent:  transparent
);

$colors: (
  materialize-red: $materialize-red,
  pink: $pink,
  purple: $purple,
  deep-purple: $deep-purple,
  indigo: $indigo,
  blue: $blue,
  light-blue: $light-blue,
  cyan: $cyan,
  green: $green,
  light-green: $light-green,
  lime: $lime,
  yellow: $yellow,
  amber: $amber,
  orange: $orange,
  deep-orange: $deep-orange,
  brown: $brown,
  blue-grey: $blue-grey,
  grey: $grey,
  shades: $shades
);

// ==========================================================================
// Materialize variables
// ==========================================================================
//
// Table of Contents:
//
//  1. Colors
//  2. Badges
//  3. Buttons
//  4. Cards
//  5. Carousel
//  6. Collapsible
//  7. Chips
//  8. Date + Time Picker
//  9. Dropdown
//  10. Forms
//  11. Global
//  12. Grid
//  13. Navigation Bar
//  14. Side Navigation
//  15. Photo Slider
//  16. Spinners | Loaders
//  17. Tabs
//  18. Tables
//  19. Toasts
//  20. Typography
//  21. Footer
//  22. Flow Text
//  23. Collections
//  24. Progress Bar

// 1. Colors
// ==========================================================================
$primary-color: $primary !default;
$primary-color-light: $primary-light !default;
$primary-color-dark: $primary-dark !default;

$secondary-color: #4372d5 !default;
$secondary-color-light: $secondary-light;
$secondary-color-dark: $secondary-dark;

$success-color: $purple !default;
$error-color: red !default;
$link-color: $secondary-color;

// 2. Badges
// ==========================================================================
$badge-bg-color: $secondary-color !default;
$badge-height: 22px !default;

// 3. Buttons
// ==========================================================================
// Shared styles
$button-border: none !default;
$button-background-focus: lighten(rgb(38, 67, 254), 4%) !default;
$button-font-size: 14px !default;
$button-icon-font-size: 1.3rem !default;
$button-height: 36px !default;
$button-padding: 0 16px !default;
$button-radius: 2px !default;

// Disabled styles
$button-disabled-background: #dfdfdf !default;
$button-disabled-color: #9f9f9f !default;

// Raised buttons
$button-raised-background: $secondary-color !default;
$button-raised-background-hover: lighten($button-raised-background, 5%) !default;
$button-raised-color: #fff !default;

// Large buttons
$button-large-font-size: 15px !default;
$button-large-icon-font-size: 1.6rem !default;
$button-large-height: $button-height * 1.5 !default;
$button-floating-large-size: 56px !default;

// Small buttons
$button-small-font-size: 13px !default;
$button-small-icon-font-size: 1.2rem !default;
$button-small-height: $button-height * 0.9 !default;
$button-floating-small-size: $button-height * 0.9 !default;

// Flat buttons
$button-flat-color: #343434 !default;
$button-flat-disabled-color: lighten(#999, 10%) !default;

// Floating buttons
$button-floating-background: $secondary-color !default;
$button-floating-background-hover: $button-floating-background !default;
$button-floating-color: #fff !default;
$button-floating-size: 40px !default;
$button-floating-radius: 50% !default;

// 4. Cards
// ==========================================================================
$every-action-card-horizontal-padding: 24px !default;
$every-action-card-horizontal-bg-color: #fff !default;
$every-action-card-horizontal-link-color: $primary !default;
$every-action-card-horizontal-link-color-light: $primary !default;

// 5. Carousel
// ==========================================================================
$carousel-height: 400px !default;
$carousel-item-height: $carousel-height / 2 !default;
$carousel-item-width: $carousel-item-height !default;

// 6. Collapsible
// ==========================================================================
$collapsible-height: 3rem !default;
$collapsible-line-height: $collapsible-height !default;
$collapsible-header-color: #fff !default;
$collapsible-border-color: #ddd !default;

// 7. Chips
// ==========================================================================
$chip-bg-color: #e4e4e4 !default;
$chip-border-color: #9e9e9e !default;
$chip-selected-color: #26a69a !default;
$chip-margin: 5px !default;

// 8. Date + Time Picker
// ==========================================================================
$datepicker-display-font-size: 2.8rem;
$datepicker-calendar-header-color: #999;
$datepicker-weekday-color: rgba(0, 0, 0, 0.87) !default;
$datepicker-weekday-bg: darken($secondary-color, 7%) !default;
$datepicker-date-bg: $secondary-color !default;
$datepicker-year: rgba(255, 255, 255, 0.7) !default;
$datepicker-focus: rgba(0, 0, 0, 0.05) !default;
$datepicker-selected: $secondary-color !default;
$datepicker-selected-outfocus: desaturate(lighten($secondary-color, 35%), 15%) !default;
$datepicker-day-focus: transparentize(desaturate($secondary-color, 5%), 0.75) !default;
$datepicker-disabled-day-color: rgba(0, 0, 0, 0.3) !default;

$timepicker-clock-color: rgba(0, 0, 0, 0.87) !default;
$timepicker-clock-plate-bg: #eee !default;

// 9. Dropdown
// ==========================================================================
$dropdown-bg-color: #fff !default;
$dropdown-hover-bg-color: #eee !default;
$dropdown-color: $secondary-color !default;
$dropdown-item-height: 50px !default;

// 10. Forms
// ==========================================================================
// Text Inputs + Textarea
$input-height: 3rem !default;
$input-border-color: grey !default;
$input-border: 1px solid $input-border-color !default;
$input-background: #fff !default;
$input-error-color: $error-color !default;
$input-success-color: $success-color !default;
$input-focus-color: $secondary-color !default;
$input-font-size: 16px !default;
$input-margin-bottom: 8px;
$input-margin: 0 0 $input-margin-bottom 0 !default;
$input-padding: 0 !default;
$label-font-size: 0.8rem !default;
$input-disabled-color: rgba(0, 0, 0, 0.42) !default;
$input-disabled-solid-color: #949494 !default;
$input-disabled-border: 1px dotted $input-disabled-color !default;
$input-invalid-border: 1px solid $input-error-color !default;
$input-icon-size: 2rem;
$placeholder-text-color: lighten($input-border-color, 20%) !default;

// Radio Buttons
$radio-fill-color: $secondary-color !default;
$radio-empty-color: #5a5a5a !default;
$radio-border: 2px solid $radio-fill-color !default;

// Range
$range-height: 14px !default;
$range-width: 14px !default;
$track-height: 3px !default;

// Select
$select-border: 1px solid #f2f2f2 !default;
$select-background: rgba(255, 255, 255, 0.9) !default;
$select-focus: 1px solid lighten($secondary-color, 47%) !default;
$select-option-hover: rgba(0, 0, 0, 0.08) !default;
$select-option-focus: rgba(0, 0, 0, 0.08) !default;
$select-option-selected: rgba(0, 0, 0, 0.03) !default;
$select-padding: 5px !default;
$select-radius: 2px !default;
$select-disabled-color: rgba(0, 0, 0, 0.3) !default;

// Switches
$switch-bg-color: $secondary-color !default;
$switch-checked-lever-bg: desaturate(lighten($switch-bg-color, 25%), 25%) !default;
$switch-unchecked-bg: #f1f1f1 !default;
$switch-unchecked-lever-bg: rgba(0, 0, 0, 0.38) !default;
$switch-radius: 15px !default;

// 11. Global
// ==========================================================================
// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

// 12. Grid
// ==========================================================================
$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;

// 13. Navigation Bar
// ==========================================================================
$navbar-height: 64px !default;
$navbar-line-height: $navbar-height !default;
$navbar-height-mobile: 56px !default;
$navbar-line-height-mobile: $navbar-height-mobile !default;
$navbar-font-size: 1rem !default;
$navbar-font-color: #fff !default;
$navbar-brand-font-size: 2.1rem !default;

// 14. Side Navigation
// ==========================================================================
$sidenav-width: 300px !default;
$sidenav-font-size: 14px !default;
$sidenav-font-color: rgba(0, 0, 0, 0.87) !default;
$sidenav-bg-color: #fff !default;
$sidenav-padding: 16px !default;
$sidenav-item-height: 48px !default;
$sidenav-line-height: $sidenav-item-height !default;

// 15. Photo Slider
// ==========================================================================
$slider-bg-color: color('grey', 'base') !default;
$slider-bg-color-light: color('grey', 'lighten-2') !default;
$slider-indicator-color: color('green', 'base') !default;

// 16. Spinners | Loaders
// ==========================================================================
$spinner-default-color: $secondary-color !default;

// 17. Tabs
// ==========================================================================
$tabs-underline-color: $primary-color-light !default;
$tabs-text-color: $primary-color !default;
$tabs-bg-color: #fff !default;

// 18. Tables
// ==========================================================================
$table-border-color: rgba(0, 0, 0, 0.12) !default;
$table-striped-color: rgba(242, 242, 242, 0.5) !default;

// 19. Toasts
// ==========================================================================
$toast-height: 48px !default;
$toast-color: #323232 !default;
$toast-text-color: #fff !default;
$toast-action-color: #eeff41;

// 20. Typography
// ==========================================================================
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;
$off-black: rgba(0, 0, 0, 0.87) !default;
// Header Styles
$h1-fontsize: 3.5rem !default;
$h2-fontsize: 2.9rem !default;
$h3-fontsize: 2.5rem !default;
$h4-fontsize: 2rem !default;
$h5-fontsize: 1.4rem !default;
$h6-fontsize: 1rem !default;

// 21. Footer
// ==========================================================================
$footer-font-color: #fff !default;
$footer-bg-color: $primary-color !default;
$footer-copyright-font-color: rgba(255, 255, 255, 0.8) !default;
$footer-copyright-bg-color: rgba(51, 51, 51, 0.08) !default;

// 22. Flow Text
// ==========================================================================
$range : $large-screen - $small-screen !default;
$intervals: 20 !default;
$interval-size: $range / $intervals !default;

// 23. Collections
// ==========================================================================
$collection-border-color: #e0e0e0 !default;
$collection-bg-color: #fff !default;
$collection-active-bg-color: $secondary-color !default;
$collection-active-color: lighten($secondary-color, 55%) !default;
$collection-hover-bg-color: #ddd !default;
$collection-link-color: $secondary-color !default;
$collection-line-height: 1.5rem !default;

// 24. Progress Bar
// ==========================================================================
$progress-bar-color: $secondary-color !default;

@keyframes bgrad {
  to {
    background-position: right, center;
  }
}
